
/*.list li + li {
    color: white ;
}*/
@media screen and (min-width: 400px) and (max-width: 1000px) {
    .list {
        color: blue;
    }
}
.products {
    background: green;
    width: 100%;
    
}
.products div {
    border: 2px solid red;
}
.product-item {
    width: 49%;
    float: left !important;
    
}
.product-item1 {
    background: blue;
    width: 49%;
    float: right;
}
.product-item:last-child {
    clear: both;
    float: none !important;
}
.product-item .product-item8 {
}
/* СТИЛИ Блога */
h1 {
    text-align: center;
    letter-spacing: 5px;
    font-family: sans-serif;
    font-style: italic;
    font-size: 250%;
    font-weight: lighter;
    font-variant: small-caps;
    color: white;
    /*position: fixed;*/
}
.content-articles {
    width: 100%;
    height: 2500px;
    background-color: darkred;
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
    align-content: flex-start;
}
#q2 {
    background-color: red;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin: 15px 10px;
    margin: 5px 10px 2px 15px;
}
#q7 {
    background-image: url("http://mywishlist.ru/pic/i/wish/orig/009/019/875.jpeg") repeat: none;


}
.block-articles {
    /*width: 30%;*/
    /*float: left;*/
    margin: 1%;
    border: 2px solid black;
    border-radius: 2px;
    border-color: green;
    border-style: solid;
    border-width: 4px;

    background-color: skyblue;
    /*display: block;*/
    display: grid;
    /*grid-template-columns: 200px 200px 200px;*/
    grid-template-columns: 1fr 2fr 1fr;
    /*grid-template-columns: repeat(3, 1fr);*/
    /*grid-auto-rows: minmax(100px, auto);*/

    /*.h1 {
        color: blue;
    }*/
}
.content-articles .block-articles:nth-child(2) {
    background-color: yellow;
}
.block-articles h2 {
    font-size: 1.5em;
    word-spacing: 5px;
    color: red;
    margin-left: 5%;
    font-family: cursive;
    font-style: oblique;
    /*position: absolute;*/

}
.material {
    width: 100%;
}
.image-blog {
    width: 40%;
    margin: 2%;
    /*position: relative;*/
    float: right;
}
.material p {
    line-height: 200%;
    margin: 2%;
    font-size: 15px;
    font-style: italic;
}
.block-articles a {
    color: green;
    text-align: center;
    margin: 3%;
    font-size: 22pt;
    text-decoration: none;
    font-family: monospace;
}
.block-articles a:hover {
    color: blue;
}
.block-articles a:active {
    color: red;
}
/*.block-articles:last-child {
    clear: both;
    display: inline;
}*/
.block-articles a:focus {
    border: 2px solid red;
    text-decoration: underline;
}
@media screen and (min-width: 400px) and (max-width: 1000px) {
    .block-articles {
        display: block;
        margin-left: 28%;
    }
    h1 {
        font-size: 200%;
    }
    .block-articles h2 {
        font-size: 110%;
        color: green;
    }
    .material p {
        line-height: 180%;
        display: inline-block;
    }
    .image-blog {
        float: none;
    }
}
.block-articles:nth-of-type(4n) {
    background-color: rgba(255, 255, 255, 70%);
}
@keyframes move {
from, 
to {
top: 0;
left: 0;
}
25%, 
75% {top: 100%;}
50% {top: 50%;}
}
h1 {
font-size: 3.5em;
color: darkmagenta;
animation: shadow  2s infinite ease-in-out;
}
/* СТИЛИ Блога домашка*/
.content-qestate {
    width: 100%;
    background-color: #f6f7fb;
    border-bottom: 2px solid
}
.block-one {
    display: flex;
}
.block-one p {
    font-size: 28px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 5%;
}
.text {
    font-family: sans-serif;
    font-weight: bold;
}
.block-one a {
    background-color: white;
    text-decoration: none;
    width: 7%;
    text-align: center;
    height: 35px;
    margin: 27px 0 0 23px;
    border-radius: 15px;
    color: blue;
    font-size: 14px;
}
.block-two {
    display: flex;
    justify-content: space-around
}
.box {
    background-color: white;
    width: 28%;
    height: max-content;
    border-radius: 25px;
    margin-bottom: 90px;
}
.block-content1, .block-content2, .block-content3 {
    width: 350px;
    height: 197px;
    margin: 3% 0 0 3%;
    border-radius: 15px;
}
.background {
    background-color: hsla(90,2%,44%,0.2);
    width: 350px;
    height: 197px;
    border-radius: 15px;
}
.indent {
    margin-left: 12px;
    display: flex;
}
.block-content1 {
    background: url("http://z500proekty.ru/thumbs/350x197s20/-FilesZ500-res-wizualizacje-Zx113-Zx113_view1_jpg.jpg") no-repeat;
}
.block-content2 {
    background: url("http://z500.com.ua/thumbs/350x197s20/-FilesZ500-res-wizualizacje-Zb1-Zb1_view1_jpg.jpg") no-repeat;
}
.block-content3 {
    background: url("http://z500proekty.ru/thumbs/350x197s20/-FilesZ500-res-wizualizacje-Z62-Z62_view1_jpg.jpg") no-repeat;
}
.box p {
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}
.rent, .sale {
    background-color: hsla(0,0%,0%,0.6);
    width: 18%;
    text-align: center;
    border-radius: 8px;
}
.featured {
    background-color: hsla(15,100%,50%,0.6);
    width: 24%;
    text-align: center;
    border-radius: 8px;
}
.hot {
    background-color: hsla(0,100%,50%,0.6);
    width: 18%;
    text-align: center;
    border-radius: 8px;
}
.date {
    font-size: 15px !important;
    font-weight: normal !important;
    margin: 38% 0 0 70%;
}
.block-strip {
    background: rgba(255, 239, 240, 1);
    width: 100%;
    height: 18%;
    margin-top: 12px;
    display: flex;
}
.block-strip p {
    color: rgba(231, 89, 101, 1);
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
}
.icons {
    display: flex;
    /*justify-content: space-between;*/
    margin: 4% 0 0 5%;
}
img {
    width: 20%;
    height: 60%;
    border-radius: 16px;
    background-color: white;
    margin-left: 9%
}
.infomation p {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    margin-left: 5%;
}
.infomation p:hover {
    color: #007bff;
}
.person {
    display: flex;
    margin-top: -3%;
}
.person img {
    width: 5%;
}
.person p {
    font-family: MONOSPACE, sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: rgba(100, 109, 141, 1);
    margin: 1% 0 0 3%;
}
.description {
    display: flex;
}
.description p {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
    color: rgba(100, 109, 141, 1);
    margin-left: 5%;
}
.sup {
    margin-top: 12px;
}